* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.texto-destaque {
    color: rgb(212, 254, 0);
}

.titulo-blog {
    color: rgb(56, 161, 223);   
}

.urgente {
    color: rgb(255, 0, 0);
}

p {
    margin: 0px;
    border: 2px solid black;
    padding: 0px;    
}



